<div class="container">
  <div>
    <h1>Sensor management</h1>
    <a class="btn btn-primary" href="/dashboard/admin/sensor/create">Create sensor</a>
    <% @sensors.each do |sensor| %>
    <div class="list-group-item flex-column align-items-start">
      <h3> <%= sensor[:name] %> </h3>
      <%= form_with url: '/dashboard/admin/sensor/update', method: 'post' do |f| %>
        <%= f.hidden_field :name, value: sensor[:name] %>
        <div class="form-group">
          <%= label_tag :ip %>
          <%= f.text_field :ip, class: "form-control", value: sensor[:ip] %>
        </div>
        <div class="form-group">
          <%= label_tag :update_interval %>
          <%= f.text_field :update_interval, class: "form-control", value: sensor[:update_interval] %>
        </div>
        <div class="form-group">
          <%= label_tag :delete %>
          <%= f.check_box :delete, checked: sensor[:delete] %>
        </div>
        <div class="form-group">
            <h5>Supported Reports</h5>
            <% sensor[:supported_reports].each do |report| %>
                <input type="checkbox" name="<%= report[:type] %>" <%= 'checked' if report[:supported] %>>
                <span><%= report[:type] %></span>
                <br/>
            <% end %>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Update</button>
      <% end %>
    </div>
    <% end %>
  </div>
</div>