<div class="container">
  <div>
    <h1>Create Sensor</h1>
    <div class="list-group-item flex-column align-items-start">
      <%= form_with url: '/dashboard/admin/sensor/create', method: 'post' do |f| %>
        <div class="form-group">
          <%= label_tag :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :ip %>
          <%= f.text_field :ip, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= label_tag :update_interval %>
          <%= f.text_field :update_interval, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :delete %>
          <%= f.check_box :delete %>
        </div>
        <div class="form-group">
            <h5>Supported Reports</h5>
            <% @reports.each do |report| %>
                <input type="checkbox" name="<%= report %>">
                <span><%= report %></span>
                <br/>
            <% end %>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Create</button>
      <% end %>
    </div>
  </div>
</div>